{% extends 'layout.html' %}
{%load static%}

{% block content %}
<style>.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  float: right;
}
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}</style>
   	<!-- Breadcomb area Start-->
    {% comment %} {% if user.is_authenticated %} {% endcomment %}
	<div class="breadcomb-area">
		<div class="container">
			<form action="#" method="post" novalidate="novalidate" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="row ">
                        {% comment %} <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
                            <input type="text" class="form-control search-slt  " placeholder="Enter Train Id or Name">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
                            <button type="button" class="btn btn-secondary wrn-btn " >Search</button>
                        </div> {% endcomment %}
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
                            <button type="button" class="btn btn-secondary wrn-btn " onclick="window.location.href = '#';">Check Data</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
		</div>
	</div>
	<!-- Breadcomb area End-->
    <!-- Form Element area Start-->
    <div class="form-element-area">
        <div class="container">
        
        <form action="insert_machine_detail" method="post" enctype = "application/w-xxx-form-urlencoded">
        {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>ADD MACHINE DETAILS</h2>
                            {% comment %} <p>Add train details for monitoring  </p> {% endcomment %}
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-train"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" placeholder="Machine ID" name="machine_id">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-hashtag"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" placeholder="Status {Actieve or Not Active}" name="status">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-home "   ></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" placeholder="Position {Entry or Exit}" name="position">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" placeholder="Amount Deducting" name="amount_deducting">
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-road"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" placeholder="Station of Origin" name="origin">
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="fa fa-road"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control" placeholder="Station of Destination" name="destination">
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        
                                    </div>
                                    <div class="nk-int-st">
                                    <button class="btn  btn-circle" style ="background : #8BC34A" type = "submit"><i class="notika-icon notika-checked"></i></button>
                                       {% comment %} <button class="btn btn-success btn-circle " type = "submit"><i class="fa fa-check"></i></button> {% endcomment %}
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            </form>


{% endblock content %}

{% comment %} {% else %}
    <p><a href="login">Login</a></p>
    
    {% comment %} {% endif %} {% endcomment %} 